*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 100px;
    font-family: poppins;
}
.nav-header{
    background-color:#ebe9e9;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 80px;
}
.nav-izquierdo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.nav-izquierdo a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: black;
}
.nav-izquierdo p{
    font-weight: 100;
    font-size: 100px;
    color: #d3d3d3;
}
a img{
    position: relative;
    top: 5px;
    right: 11px;
    height: 100px;
    width: 100px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav-derecho{
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-right: 100px;
}
.nav-derecho input{
    padding: 10px 20px 10px 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.nav-derecho img{
    height: 40px;
    cursor: pointer;
}

/*MAIN*/

main{
    height: 1000px;
}
.banner{
    height: 700px;
    display: flex;
    flex-direction: column;
}
.banner img{
    height: 100%;
}

.nav-main{
    background-color: #555555;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 550px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.nav-main a{
    color: rgb(4, 180, 255);
    text-decoration: none;
    font-weight: 500;
    padding: 20px 30px 20px 40px;
}
.nav-main p{
    color: #6b6b6b;
    font-size: 40px;
    font-weight: 300;
}

article{
    margin-top: 100px;
}
.anuncio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebe9e9;
    height: 150px;
}
.anuncio-parte-1{
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.anuncio-parte-1 h2{
    color: #d3d3d3;
    font-weight: 300;
    font-size: 60px;
    padding: 50px;
}
.anuncio-parte-1 p{
    color: #d3d3d3;
    font-weight: 100;
    font-size: 100px;
}
.anuncio-parte-2{
    margin-right: 200px;
}
.anuncio-parte-2 button{
    padding: 20px 120px 20px 50px;
    color: aliceblue;
    background-color: rgb(0, 151, 238);
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.parte-2-article{
    display: flex;
}
.imagenes{
    background-color:#ebe9e9;
    height: 600px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.titulo img{
    width: 50px;
}
.titulo h2{
    margin-left: 20px;
}

.descripcion{
    padding-top: 20px;
}
.imagen{
    margin-top: 30px;
    width: 100%;
}
.imagen img{
    width: 100%;
}
.botones button{
    margin-top: 20px;
    padding: 20px 50px 20px 50px;
    color: #ebe9e9;
    background-color: rgb(0, 151, 238);
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

